[user]
  name = kiluhabe
  email =  kiluhabe@users.noreply.github.com
[color]
  ui = always
  status = always
  branch = always
  diff = always
  interactive = always
[alias]
  co = checkout
  st = status
  br = branch
  ga = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  pc = !git push origin `git rev-parse --abbrev-ref HEAD`
  plc = !git pull origin `git rev-parse --abbrev-ref HEAD`
  plm = !git pull origin `git-main-branch`
  cm = !git co `git-main-branch`
[core]
  excludesfile = $HOME/.gitignore_global
  editor = emacs
[credential "https://source.developers.google.com"]
  helper = gcloud.sh
[gpg]
  program = /usr/local/bin/krgpg
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[init]
  defaultBranch = main
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta
[delta]
  plus-style = "syntax #012800"
  minus-style = "syntax #340001"
  syntax-theme = Monokai Extended
  navigate = true
  line-numbers = true
  side-by-side = true
[interactive]
  diffFilter = delta --color-only