[user]
  name = jstilo
  email = warsavv@gmail.com
[color]
  ui = auto
[alias]
  co = checkout
  st = status
  br = branch
  ga = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
