
emacs/.emacs.d/elpa
emacs/.emacs.d/auto-save-list
emacs/.emacs.d/network-security.data
emacs/.emacs.d/.cache
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/recentf
emacs/.emacs.d/company-statistics-cache.el
emacs/.emacs.d/.mc-lists.el
*.dat
