[user]
  name = kiluhabe
  email =  kiluhabe@users.noreply.github.com
[color]
  ui = always
  status = always
  branch = always
  diff = always
  interactive = always
[alias]
  co = checkout
  st = status
  br = branch
  ga = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  pc = !git push origin `git rev-parse --abbrev-ref HEAD`
[core]
	excludesfile = /Users/kiluhabe/.gitignore_global
  editor = emacs
[ghq]
    root = ~/.ghq
    root = ~/.go/src
[credential "https://source.developers.google.com"]
	helper = gcloud.sh
[gpg]
	program = /usr/local/bin/krgpg
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
