* {
    font-family: Roboto Mono Nerd Font;
    font-size: 14px;
}

window#waybar {
    border: none;
    background: transparent;
}

.modules-right, .modules-left {
    border-radius: 8px;
    margin: 16px 16px;
    padding: 4px 24px;
    background: white;
}

#clock, #backlight, #network, #bluetooth, #battery {
    padding: 0px 8px;
}

#pulseaudio {
    padding: 0px 16px 0px 8px;
}

#tags button {
    padding: 8px;
}
